{% macro eu_country_datalist(identifier) -%}
<datalist id="{{ identifier }}">
  <option value="AT">Österreich / Austria</option><option value="BE">Belgien / Belgium</option>
  <option value="BG">Bulgarien / Bulgaria</option><option value="HR">Kroatien / Croatia</option>
  <option value="CY">Zypern / Cyprus</option><option value="CZ">Tschechien / Czechia</option>
  <option value="DE">Deutschland / Germany</option><option value="DK">Dänemark / Denmark</option>
  <option value="EE">Estland / Estonia</option><option value="ES">Spanien / Spain</option>
  <option value="FI">Finnland / Finland</option><option value="FR">Frankreich / France</option>
  <option value="GR">Griechenland / Greece</option><option value="HU">Ungarn / Hungary</option>
  <option value="IE">Irland / Ireland</option><option value="IT">Italien / Italy</option>
  <option value="LT">Litauen / Lithuania</option><option value="LU">Luxemburg / Luxembourg</option>
  <option value="LV">Lettland / Latvia</option><option value="MT">Malta</option>
  <option value="NL">Niederlande / Netherlands</option><option value="PL">Polen / Poland</option>
  <option value="PT">Portugal</option><option value="RO">Rumänien / Romania</option>
  <option value="SE">Schweden / Sweden</option><option value="SI">Slowenien / Slovenia</option>
  <option value="SK">Slowakei / Slovakia</option>
</datalist>
{%- endmacro %}
