.git
.github
.venv
instance
build
dist
var
__pycache__
**/__pycache__
*.pyc
*.pyo
*.sqlite
*.sqlite-*
database/documents
database/files
packaging/build-client.local.sh
packaging/build-server.local.sh
packaging/*.secret.sh
packaging/private
