<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0f766e">
  <title>{% block title %}SimpleOffice4Me{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-5.3.8/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.15.3-web/css/all.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  {% block script %}{% endblock %}
</head>
<body>
  {% block header %}{% endblock %}
  {% block body %}{% endblock %}
  {% block footer %}{% endblock %}
  <script src="{{ url_for('static', filename='vendor/bootstrap-5.3.8/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
